@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

:root {
    --fonte-primaria: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-primaria);
    width: 100%;
}

.botaoForm {
    padding: 10px 20px;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 5px;
    align-self: start;
    font-family: var(--fonte-primaria);
}

.campoFormulario {
    border: 1.5px solid black;
    margin: 20px 0;
    font-family: var(--fonte-primaria);
    font-weight: 500;
    padding: 10px 5px;
    font-size: 20px;
    border-radius: 5px;
}

.campoFormulario::placeholder {
    font-size: 16px;
}

.etiqueta {
    font-size: 20px;
}

.botaoForm:hover {
    background-color: #70b157;
    color: aliceblue;
    cursor: pointer;
    font-weight: 500;
}

.saidaDeDados {
    font-family: var(--fonte-primaria);
    padding: 10px 5px;
    font-size: 20px;
    color: red;
}

.idSaida {
    margin-bottom: 10px
}

.negrito {
    font-weight: 600;
}

.titulo {
    margin-bottom: 10px;
}

.radio {
    margin-top: 20px;
}

.tituloFormas {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

#valoresFormas {
    font-family: var(--fonte-primaria);
    margin-top: 50px;
}

#circulo,
#retangulo,
#retanguloTriangulo,
#te {
    display: none;
    flex-direction: column;
}

#corpo {
    display: block;
}

.campoSexo {
    margin: 20px 0;
}

.calculaMaiorMenor {
    margin-top: 50px;
}

.limpaArray:hover {
    background-color: red;
}

.temperaturaEtiqueta{
    margin-top: 20px;
    font-weight: 500;
}

.botaoMoedas, .botaoParImpar, .campoSalario, .campoJogadoresSelecionar {
    margin-top: 20px;
}

.nomesIdadesTitulo{
    margin-bottom: 20px;
    font-weight: 500; 
}

#idResultados .campoFormulario{
    width: 70vw;
}

#formularioResultados .campoFormulario{
    width: 70vw;
}

#formularioJ1, #formularioJ2,#formularioJ3,#formularioJ4{
   padding-right: 30px;
}

.ex1lista08form{
    width: 50%;
}